:root {
  --ratio: 1.2;
  
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: .85rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  
  
  --1sq: 3.9rem;
  --2sq: calc(var(--1sq) * 2 + var(--gap) * 1);
  --3sq: calc(var(--1sq) * 3 + var(--gap) * 2);
  --4sq: calc(var(--1sq) * 4 + var(--gap) * 3);
  --5sq: calc(var(--1sq) * 5 + var(--gap) * 4);
  --6sq: calc(var(--1sq) * 6 + var(--gap) * 5);
  --7sq: calc(var(--1sq) * 7 + var(--gap) * 6);
  --8sq: calc(var(--1sq) * 8 + var(--gap) * 7);
  --9sq: calc(var(--1sq) * 9 + var(--gap) * 8);
  --10sq: calc(var(--1sq) * 10 + var(--gap) * 9);
  --11sq: calc(var(--1sq) * 11 + var(--gap) * 10);
  --12sq: calc(var(--1sq) * 12 + var(--gap) * 11);
  
  --gap: .8rem;
}

* {
	font-family: "Akzidenz-Grotesk Next", sans-serif;
	font-weight: normal;
	font-size: var(--s0);
	font-style: normal;

	margin: 0;
	padding: 0;
}

input:is([type="checkbox"], [type="radio"]),
select,
label,
button {
	cursor: pointer;
}

/*
TYPE
*/


@font-face {
    font-family: 'Akzidenz-Grotesk Next';
    src: url('AkzidGrtskNext-Regular.eot');
    src: local('Akzidenz-Grotesk Next Regular'), local('AkzidGrtskNext-Regular'),
        url('AkzidGrtskNext-Regular.eot?#iefix') format('embedded-opentype'),
        url('AkzidGrtskNext-Regular.woff2') format('woff2'),
        url('AkzidGrtskNext-Regular.woff') format('woff'),
        url('AkzidGrtskNext-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Next Med';
    src: url('AkzidGrtskNext-Med.eot');
    src: local('Akzidenz-Grotesk Next Medium'), local('AkzidGrtskNext-Med'),
        url('AkzidGrtskNext-Med.eot?#iefix') format('embedded-opentype'),
        url('AkzidGrtskNext-Med.woff2') format('woff2'),
        url('AkzidGrtskNext-Med.woff') format('woff'),
        url('AkzidGrtskNext-Med.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Next';
    src: url('AkzidGrtskNext-Italic.eot');
    src: local('Akzidenz-Grotesk Next Italic'), local('AkzidGrtskNext-Italic'),
        url('AkzidGrtskNext-Italic.eot?#iefix') format('embedded-opentype'),
        url('AkzidGrtskNext-Italic.woff2') format('woff2'),
        url('AkzidGrtskNext-Italic.woff') format('woff'),
        url('AkzidGrtskNext-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Next Med';
    src: url('AkzidGrtskNext-MedIt.eot');
    src: local('Akzidenz-Grotesk Next Medium Italic'), local('AkzidGrtskNext-MedIt'),
        url('AkzidGrtskNext-MedIt.eot?#iefix') format('embedded-opentype'),
        url('AkzidGrtskNext-MedIt.woff2') format('woff2'),
        url('AkzidGrtskNext-MedIt.woff') format('woff'),
        url('AkzidGrtskNext-MedIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

h1 {
	font-family: "EB Garamond", serif;
	font-weight: 700;
	font-size: var(--s4);
	letter-spacing: .015rem;
}

h2 {
	font-family: "EB Garamond", serif;
	font-weight: 600;
}

h3 {
	font-size: calc(var(--s1)*1.2);
	letter-spacing: .04rem;
}

h4{ font-size: var(--s1); }

p { line-height: 1.1rem; }

em { font-style: italic; }

strong { font-weight: bold; }

/*
LINKS
*/

a {
	color: #00a1fe;
	cursor: pointer;
	text-decoration: none;
}

a:link { }

a h1, h2, h3, h4, h5, h6 { color: black; }

a:visited { /* color: #0117DB; */ }

a:focus { }

a:hover{ text-decoration: underline; }

a:hover:not(h1, h2, h3, h4, h5, h6){ text-decoration: none; }

a:active { }

/*
SEMANTIC HTML TAGS
*/

html{
	height: 100%;
	display: grid;
	font-size: var(--s0);
}

body {
	width: var(--12sq);
	height: var(--9sq);
	margin: auto;
	overflow: hidden;
}

header {
	grid-area: hd;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: baseline;
}

nav { grid-area: nav; }

main { grid-area: mn; }

footer { grid-area: ft; }

img { width: var(--4sq); }

details { margin-bottom: var(--gap); }

summary { cursor: pointer; }

details > *:first-child { padding-top: 1rem; }

.grid{
	display: grid;
	grid-template-columns: repeat(12, var(--1sq));
	grid-template-rows: repeat(9, var(--1sq));
	grid-gap: var(--gap);
}

/*
GRID layouts
*/

#index {
grid-template-areas:

"hd hd hd hd hd hd hd hd hd hd hd hd"
". . nav nav nav nav nav nav nav . . ."
". . nav nav nav nav nav nav nav . . ."

". . nav nav nav nav nav nav nav . . ."
". . nav nav nav nav nav nav nav . . ."
". . nav nav nav nav nav nav nav . . ."

". . nav nav nav nav nav nav nav . . ."
". . . . . . . . . . . ."
"ft ft ft ft ft ft ft ft ft ft ft ft";
}

#books {
grid-template-areas:

"hd hd hd hd hd hd hd hd hd hd hd hd"
". mn mn mn mn mn mn mn mn mn mn ."
". mn mn mn mn mn mn mn mn mn mn ."

". mn mn mn mn mn mn mn mn mn mn ."
". mn mn mn mn mn mn mn mn mn mn ."
". mn mn mn mn mn mn mn mn mn mn ."

". mn mn mn mn mn mn mn mn mn mn ."
". mn mn mn mn mn mn mn mn mn mn ."
". nav nav nav nav nav nav nav nav nav nav nav";
}

#magazine {
grid-template-areas:

"hd hd hd hd hd hd hd hd hd hd hd hd"
". mn mn mn mn mn mn mn mn mn mn ."
". mn mn mn mn mn mn mn mn mn mn ."

". mn mn mn mn mn mn mn mn mn mn ."
". mn mn mn mn mn mn mn mn mn mn ."
". mn mn mn mn mn mn mn mn mn mn ."

". mn mn mn mn mn mn mn mn mn mn ."
". mn mn mn mn mn mn mn mn mn mn ."
". nav nav nav nav nav nav nav nav nav nav nav";
}

#signals {
grid-template-areas:

"hd hd hd hd hd hd hd hd hd hd hd hd"
". . . mn mn mn mn mn mn mn mn mn"
". . . mn mn mn mn mn mn mn mn mn"

". . . mn mn mn mn mn mn mn mn mn"
". . . mn mn mn mn mn mn mn mn mn"
". . . mn mn mn mn mn mn mn mn mn"

". . . mn mn mn mn mn mn mn mn mn"
". . . mn mn mn mn mn mn mn mn mn"
". . . mn mn mn mn mn mn mn mn mn";
}

#signals main {

display: grid;
	grid-template-columns: repeat(9, var(--1sq));
	grid-template-rows: repeat(8, var(--1sq));
	grid-gap: var(--gap);
	grid-template-areas:

"scr scr scr scr . . . . ."
"scr scr scr scr . nav nav nav nav"

"scr scr scr scr . nav nav nav nav"
"scr scr scr scr . nav nav nav nav"
"scr scr scr scr . nav nav nav nav"

"scr scr scr scr . nav nav nav nav"
"scr scr scr scr . nav nav nav nav"
"scr scr scr scr . . . . .";
}

#about {
grid-template-areas:

"hd hd hd hd hd hd hd hd hd hd hd hd"
". . . . . . . . . . . ."
". mn mn mn mn . . . . . . ."

". mn mn mn mn . . . . . . ."
". mn mn mn mn . . . . . . ."
". mn mn mn mn . . . . . . ."

". mn mn mn mn . . . . . . ."
". . . . . . . . . . . ."
". nav nav nav nav nav nav nav nav nav nav nav";
}

#info {
grid-template-areas:

"hd hd hd hd hd hd hd hd hd hd hd hd"
". . . . . . . . . . . ."
". mn mn mn mn . . . . . . ."

". mn mn mn mn . . . . . . ."
". mn mn mn mn . . . . . . ."
". mn mn mn mn . . . . . . ."

". mn mn mn mn . . . . . . ."
". . . . . . . . . . . ."
". nav nav nav nav nav nav nav nav nav nav nav";
}

#books main {
	display: grid;
	grid-template-columns: repeat(10, var(--1sq));
	grid-template-rows: repeat(7, var(--1sq));
	grid-gap: var(--gap);
	grid-template-areas:

". . img img img img img img img img"
". . img img img img img img img img"
". . img img img img img img img img"
". . img img img img img img img img"
". . tl tl tl tl tl tl tl tl"
"st st sp sp sp sp inf inf inf inf"
"st st sp sp sp sp inf inf inf inf";
}

#magazine main {
	display: grid;
	grid-template-columns: repeat(10, var(--1sq));
	grid-template-rows: repeat(7, var(--1sq));
	grid-gap: var(--gap);
	grid-template-areas:

". . img img img img img img img img"
". . img img img img img img img img"
". . img img img img img img img img"
". . img img img img img img img img"
". . tl tl tl tl tl tl tl tl"
"st st sp sp sp sp inf inf inf inf"
"st st sp sp sp sp inf inf inf inf";
}

#poem {
grid-template-areas:

"hd hd hd hd hd hd hd hd hd hd hd hd"
". . mn mn mn mn mn mn mn . . ."
". . mn mn mn mn mn mn mn . . ."

". . mn mn mn mn mn mn mn . . ."
". . mn mn mn mn mn mn mn . . ."
". . mn mn mn mn mn mn mn . . ."

". . mn mn mn mn mn mn mn . . ."
". . . . . . . . . . . ."
"ft ft ft ft ft ft ft ft ft ft ft ft";
}

/*
not using iframes for the mockup as of feb 22 2025
*/

/*
#books iframe {

border: none;
padding: 0;
margin: 0;
overflow: hidden;
height: var(--7sq);
width: var(--10sq);

}

#magazine iframe {

border: none;
padding: 0;
margin: 0;
overflow: hidden;
height: var(--7sq);
width: var(--10sq);

}
*/

.pub_images {
	grid-area: img;
	display: flex;
	flex-direction: row;
	gap: var(--gap);
}

.pub_images img { background-color: #d3d3d3; }

.pub_image_grid {
	display: grid;
	width: var(--4sq);
	grid-template-columns: auto auto auto auto;
	grid-gap: var(--gap);
}

.pub_image_grid img {
	width:100%;
	background-color: #d3d3d3;
}

.pub_image_grid img:hover {
	opacity: 100%;
	background-color: #a9a9a9;
}

.pub_title {
	grid-area: tl;
	align-self: center;
}

.pub_info {
	grid-area: inf;
	overflow: auto;
}

.pub_specs {
	grid-area: sp;
}

.pub_status {
	grid-area: st;
}

#index ul {
	display: grid;
	grid-template-columns: repeat(6, var(--1sq));
	grid-template-rows: repeat(6, var(--1sq));
	grid-gap: var(--gap);
	
	list-style-type: none;
}

#menubooks {
	align-self: end;
	grid-area: 1 / 5;
}

#menumagazine {
	align-self: start;
	grid-area: 2 / 3;
}

#menusignals {
	align-self: end;
	grid-area: 2 / 3;
}

#menustore {
	align-self: start;
	grid-area: 4 / 2;
}

#menuarchive {
	align-self: start;
	grid-area: 5 / 1;
}

#menuabout {
	align-self: start;
	grid-area: 6 / 1;
}

#menuinfo {
	align-self: end;
	grid-area: 6 / 1;
}

#index footer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#index footer > * {
	padding-right: var(--gap);
}

#index footer img {
	width: var(--1sq);
}


#books button {
	position: relative;

	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;

	background: transparent;
}

#books button:hover {
	opacity: 100%;
}

#books button:active {
	opacity: 100%;
}

#books button:focus {
	opacity: 100%;
}

#books button::before{
	content: '';
	
	width: 100%;
	height: .15rem;

	position: absolute;
	bottom: 1.9rem;

	background-color: black;
}

#books nav {
	display: flex;
	height: max-content;
	width: max-content;
	flex-direction: row;
	align-items: flex-end;
	gap: calc(var(--gap) * 1.5 );
	box-sizing: border-box;

	overflow: auto;
	padding-bottom: var(--gap);
	padding-top: 0.2rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}



.book_icon {
	display: flex;
	flex-flow: column;
}

.icon {
	border: solid;
	border-width: .2rem;
}

.landscape {
	height: 1.5rem;
	width: 2rem;
}

.portrait_sm {
	height: 1.75rem;
	width: 1.25rem;
}

.portrait_lg {
	height: 2.25rem;
	width: 1.75rem;
}

.square {
	height: 2.25rem;
	width: 2.25rem;
}

.white { background: white; }

.black { background: black; }

.number {
	margin: auto;
	padding-top: .7rem;
	opacity: 100% !important;
}

.number p {
	font-size: var(--s-1);
	line-height: .8rem;
}

#magazine button {
	position: relative;

	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;

	background: transparent;
}

#magazine button:hover { opacity: 100%; }

#magazine button:active { opacity: 100%; }

#magazine button:focus { opacity: 100%; }

#magazine button::before{
	content: '';
	
	width: 100%;
	height: .15rem;

	position: absolute;
	bottom: 1.9rem;

	background-color: black;
}

#magazine nav {
	display: flex;
	height: max-content;
	width: max-content;
	flex-direction: row;
	align-items: flex-end;
	gap: calc(var(--gap) * 1.5 );
	box-sizing: border-box;

	overflow: auto;
	padding-bottom: var(--gap);
	padding-top: 0.2rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

      /* info-box setup */

.info-box { }
      
.info-box hr {
	padding: 0;
	margin: 0;
	
	margin-left: -.8rem;
    border: .1rem solid black;
}

	/* styling info-box tabs */

.info-box [role="tablist"] { }

.info-box [role="tab"] {
	background-color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	margin-top: var(--gap);
	margin-right: calc( var(--gap) * 1.25 );
}

.info-box [role="tab"]:focus h4,
.info-box [role="tab"]:hover h4 {
	text-decoration: underline;
	text-decoration-thickness: .15rem;
	text-underline-offset: .5rem;
}

.info-box [role="tab"][aria-selected="true"] {
	text-decoration: underline;
	text-decoration-thickness: .15rem;
	text-underline-offset: .5rem;
}

      /* styling info-box panels */

.info-box .panels {
	height: var(--5sq);
	overflow-y: auto;
	overflow-x: hidden;
}

.info-box [role="tabpanel"] {
	background-color: white;
	color: black;
	overflow-y: hidden;
}

.info-box [role="tabpanel"].is-hidden { display: none; }

#about ul {
	list-style: outside;
	list-style-type: "\273B";

	padding-left: var(--gap);
}

#about ul > * {
	margin-bottom: var(--gap);
	padding-left: var(--gap);
}

#signals nav {
	display: grid;
	grid-template-columns: repeat(4, var(--1sq));
	grid-template-rows: repeat(6, var(--1sq));
	grid-gap: var(--gap);
}

#navradio { grid-area: 1 / 1 / 2 / -1; }

#navthisweek { grid-area: 3 / 1 / 4 / -1; }

#navfootage { grid-area: 4 / 1 / 5 / -1; }

#navvideoart { grid-area: 5 / 1 / 6 / -1; }

#signals a h3, a h4 { color: #00a1fe; }

.scroll {
	position: relative;

	grid-area: scr;
	height: var(--9sq);
	width: var(--4sq);
	overflow: scroll;
	scrollbar-width: none;

	top: -5rem;

	mask-image: linear-gradient(transparent 0%, white 10%, white 90%, transparent 100%);
}

#radioscroll {
	padding-top: 19rem;
	padding-bottom: 6.2rem;
}

#footagescroll {
	padding-top: 23.8rem;
	padding-bottom: 11.5rem;
}

#videoartscroll {
	padding-top: 28.5rem;
	padding-bottom: 6.8rem;
}

#poemtext {
	font-family: 'EB Garamond', serif; 
	padding-top: 3rem;
}

/*
SMALL INTERFACE
*/

@media (max-width: 850px) {


body {
width: var(--4sq);
}

.grid {
grid-template-columns: repeat(4, var(--1sq));
}

header h1 {

line-height: calc( var(--gap) * 2);
text-align: right;

}

#index {
grid-template-areas:

"hd hd hd hd"
"nav nav nav nav"
"nav nav nav nav"

"nav nav nav nav"
"nav nav nav nav"
"nav nav nav nav"

"nav nav nav nav"
". . . ."
"ft ft ft ft";

}

#books {
grid-template-areas:

"hd hd hd hd"
"mn mn mn mn"
"mn mn mn mn"

"mn mn mn mn"
"mn mn mn mn"
"mn mn mn mn"

"mn mn mn mn"
"mn mn mn mn"
"nav nav nav nav";

}

#magazine {
grid-template-areas:

"hd hd hd hd"
"mn mn mn mn"
"mn mn mn mn"

"mn mn mn mn"
"mn mn mn mn"
"mn mn mn mn"

"mn mn mn mn"
"mn mn mn mn"
"nav nav nav nav";

}

#signals {
grid-template-areas:

"hd hd hd hd"
"mn mn mn mn"
"mn mn mn mn"

"mn mn mn mn"
"mn mn mn mn"
"mn mn mn mn"

"mn mn mn mn"
"mn mn mn mn"
"mn mn mn mn";

}

#about {
grid-template-areas:

"hd hd hd hd"
". . . ."
"mn mn mn mn"

"mn mn mn mn"
"mn mn mn mn"
"mn mn mn mn"

"mn mn mn mn"
". . . ."
"nav nav nav nav";
}

#info {
grid-template-areas:

"hd hd hd hd"
". . . ."
"mn mn mn mn"

"mn mn mn mn"
"mn mn mn mn"
"mn mn mn mn"

"mn mn mn mn"
". . . ."
"nav nav nav nav";
}

#signals main {
display: flex;
flex-direction: column-reverse;
overflow: auto;
width: calc( 100% + var(--gap) * 2 );

}

#radio nav {
display: inline;
height: max-content;
}

#footage nav {
display: inline;
height: max-content;
}

#videoart nav {
display: inline;
height: max-content;
}

#navradio {}

#navthisweek {}

#navfootage {}

#navvideoart {}

.scroll {
position: inherit;
display: inline;
grid-area: scr;
overflow: scroll;
top: 0;
}


#radioscroll {
padding-top: 2.5rem;
padding-bottom: 2rem;
}

#footagescroll {
padding-top: 2.5rem;
padding-bottom: 2rem;
}

#videoartscroll {
padding-top: 2.5rem;
padding-bottom: 2rem;
}

#books main {

display: flex;
flex-direction: column;

overflow: auto;

width: calc( 100% + var(--gap) * 2 );

}

#magazine main {

display: flex;
flex-direction: column;

overflow: auto;

width: calc( 100% + var(--gap) * 2 );

}

.pub_images {
grid-area: img;
display: flex;
flex-direction: column;
gap: var(--gap);
margin-bottom: var(--gap);
}

.pub_image_grid {
display: grid;
width: var(--4sq);
grid-template-columns: auto auto auto auto auto auto auto auto;
grid-gap: var(--gap);
}

.pub_title {
align-self: start;
}

.pub_info {
	overflow: visible;
}

#poem { 
grid-template-areas:

"hd hd hd hd"
"mn mn mn mn"
"mn mn mn mn"

"mn mn mn mn"
"mn mn mn mn"
"mn mn mn mn"

"mn mn mn mn"
". . . ."
"ft ft ft ft";

}
/*

#index header {
flex-direction: row;
}
*/

#index ul {
	grid-template-columns: repeat(4, var(--1sq));
}

#menubooks {
	align-self: end;
	grid-area: 1 / 1;
}

#menumagazine {
	align-self: start;
	grid-area: 2 / 1;
}

#menusignals {
	align-self: end;
	grid-area: 2 / 1;
}

#menustore {
	align-self: start;
	grid-area: 4 / 1;
}

#menuarchive {
	align-self: start;
	grid-area: 5 / 1;
}

#menuabout {
	align-self: start;
	grid-area: 6 / 1;
}

#poemtext {
font-family: 'EB Garamond', serif; 
padding-top: 3rem;
}

.info-box hr {
	margin-left: -.8rem;
}

.info-box [role="tablist"] {
 }

.info-box [role="tab"] {
	margin-top: calc( var(--gap) * .8);
	margin-right: calc( var(--gap) * 1.5 );
}

}
